<div class="flash-container container">
  <div class="row">
    <div class="col-custom">
      <% if(success && success.length){ %>
      <div
        class="custom-alert alert-success-custom alert dismissible fade show"
        role="alert"
      >
        <div>
          <i
            class="fa-solid fa-circle-check alert-icon"
            style="color: #2ecc71"
          ></i>
          <%= success %>
        </div>
        <button
          type="button"
          class="btn-close-custom"
          data-bs-dismiss="alert"
          aria-label="Close"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <% } %> <% if(error && error.length){ %>
      <div
        class="custom-alert alert-error-custom alert dismissible fade show"
        role="alert"
      >
        <div>
          <i
            class="fa-solid fa-circle-exclamation alert-icon"
            style="color: #fe424d"
          ></i>
          <%= error %>
        </div>
        <button
          type="button"
          class="btn-close-custom"
          data-bs-dismiss="alert"
          aria-label="Close"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <% } %>
    </div>
  </div>
</div>
